<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encode</title>
</head>
<body>
    <h1>Encode Menu</h1>
    <form action="/encode" method="post">
        <label for="threshold">Enter Threshold Value: </label>
        <input type="number" name="threshold" id="threshold">
        <br>
        <label for="numShares">Enter No of Shares: </label>
        <input type="number" name="numShares" id="numShares">
        <br>
        <input type="submit" value="Begin Encryption">
    </form>
</body>
</html>